@mixin adaptiv-font($pcSize, $mobSize) {
  $maxWidth: 1200;
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((1300px - 320px) / #{$maxWidth}));
  @media screen and (max-width: 1300px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  }
}

@mixin adaptive-padding($maxPadding, $minPadding) {
  $maxWidth: 1200;
  $addSize: $maxPadding - $minPadding;
  $maxWidth: $maxWidth - 320;
  padding: calc(#{$minPadding + px} + #{$addSize} * ((1300px - 320px) / #{$maxWidth})) 0px;
  @media screen and (max-width: 1300px) {
    padding: calc(#{$minPadding + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})) 0px;
  }
}

@mixin title($color: #696969) {
  font-weight: 500;
  @include adaptiv-font(36, 24);
  text-align: center;
  position: relative;
  color: $color;
  &::before {
    content: '';
    display: inline-block;
    width: 65px;
    height: 3px;
    background: $color;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -20px;
  }
}
